{% extends "base.html" %}
{% block title %} Compare Teams {% endblock %}
{% block content %}
<body>
<div>
    <div>
        <h1>Compare Teams</h1>
        <div>
        <form method="post">
            <label for="team1">Home Team:</label>
            <select id="team1" name="team1">
                {% for team in teams %}
                <option value="{{ team }}">{{ team }}</option>
                {% endfor %}
            </select>

            <label for="team2">Away Team:</label>
            <select id="team2" name="team2">
                {% for team in teams %}
                <option value="{{ team }}">{{ team }}</option>
                {% endfor %}
            </select>

            <input type="submit" value="Compare">

        </form>
        </div>
    </div>
    <div>

    </div>
</div>

<style>
    form {
        flex-direction: row;
        justify-content: center;
    }
    div {
        justify-content: center;
    }
    label {
        margin-right: 10px;
    }
</style>

</body>
{% endblock %}
